body {
  margin: 0;
  background: #000;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

/* COLLAGE CANVAS */
.photo-collage {
  position: relative;
  width: 1000px;
  height: 700px;
}

/* IMAGE BASE */
.photo-item {
  position: absolute;
  display: block;
}

/* LEFT COLUMN */
.item-1 {
  width: 160px;
  top: 40px;
  left: 80px;
}

.item-2 {
  width: 200px;
  top: 220px;
  left: 40px;
}

.item-3 {
  width: 150px;
  top: 460px;
  left: 120px;
}

/* RIGHT COLUMN */
.item-4 {
  width: 180px;
  top: 80px;
  left: 520px;
}

.item-5 {
  width: 220px;
  top: 300px;
  left: 600px;
}

.item-6 {
  width: 160px;
  top: 520px;
  left: 500px;
}


/* Mobile fallback */
@media (max-width: 768px) {
  .photo-spread {
    padding: 4rem 1.5rem;
  }

  .photo-collage {
    width: 100%;
    height: auto;
  }

  .photo-item {
    position: relative;
    margin-bottom: 2rem;
  }
}
