:root {
  --header-height: 90px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
  padding-top: var(--header-height);
}

/* =========================
   NAV
========================= */
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  background: transparent;
  box-shadow: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.to







